<form action="@download" method="get">
	<div id="download" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header bg-light">
					<h5 class="modal-title">Télécharger une archive</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>Votre archive contiendra les fichiers suivants: </p>
					<ul class="list-group multi-files">
						
					</ul>
					<div class="mt-3">
						<label class="form-label" for="upload-file-size">Taille totale</label>
						<input class="form-control multi-files-total" type="text" disabled placeholder="Inconnue" />
					</div>
					<input type="hidden" name="files" value="" class="multi-files-value" />
				</div>
				<div class="modal-footer bg-light">
					<button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
					<button type="submit" class="btn btn-primary">Télécharger</button>
				</div>
			</div>
		</div>
	</div>
</form>
