{{> navbar path=path}}

<div style="padding-top: 56px; padding-bottom: 56px;" class="container my-4">
  <h1>À propos du <i>Carré de sable IIIF</i> des bibliothèques de l'UdeM</h1>
  <p>Cet environnement est destiné à l'exploration des possibilités des
     <a href="https://iiif.io/api/index.html" target="_blank">spécifications IIIF</a>
    pour la consultation des objets numériques, en particulier les images.
    Pour l'instant, il est disponible à tout utilisateur sur le <b>campus UdeM</b>
     ou en <b>VPN UdeM</b>. Bientôt, il sera disponible en consultation plus
     largement sur Internet et en modification sur le campus seulement.
  </p>
  <p>
    <b>Important:</b>
  </p>
  <ul>
    <li>Tout le contenu déposé dans cet environnement est <b>visible sur Internet</b>.
       Merci de n'y déposer que des objets pour lesquels vous avez les droits.
    </li>
    <li>Il n'y a aucune garantie de bon fonctionnement et de pérennité pour cet environnement. 
        Tout doit être considéré <i><b>jetable</b></i>.
    <li>Les performances du carré de sable ne doivent pas être considérées comme définitives
        pour les outils testés. La puissance du serveur est volontairement raisonnable.
    </li>
    <li>Les URL ne sont pas pérennes.</li>
    </li>
    <li>Toute la communauté UdeM peut déposer des objets, les renommer, les supprimer.
        Merci de ne supprimer que les objets que vous avez déposés!
    </li>
  </ul>
  <p>
    Pour en savoir plus sur le fonctionnement de ce carré de sable, consulter le
    <a href="/_manuel">manuel</a>.
  </p>
  <p>Si vous avez des questions ou si vous souhaitez discuter de ce carré
      de sable ou des spécifications IIIF en général, vous pouvez rejoindre l'équipe
      "<a target="_blank" href="https://teams.microsoft.com/l/channel/19%3ayJ2YodjabWc8QTcXe4baravITqAwxEWT6kA6lw90QnY1%40thread.tacv2/G%25C3%25A9n%25C3%25A9ral?groupId=dae7ec0d-9a89-4cf1-bb09-6d43c236ea77&tenantId=d27eefec-2a47-4be7-981e-0f8977fa31d8">Gr - Bib - Carré de sable IIIF"</a>
      dans l'environnement Teams de l'UdeM.
  </p>

</div>