.options {
  position: relative;
}

.options-icon {
  cursor: pointer;
}

.options-container {
  display: none;
  position: absolute;
  background-color: white;
  list-style: none;
  padding: 1em;
  z-index: 2000;
}

.options-container > li {
  white-space: nowrap;
}

.list-group {
  padding-bottom: 350px;
}