.options {
  position: relative;
}

.options-icon {
  cursor: pointer;
}

.options-container {
  position: absolute;
  background-color: white;
  list-style: none;
  padding: 1em;
  z-index: 1;
}

.options-container > li {
  white-space: nowrap;
}